<h1>Listing events</h1>

<h3>Browse by category:</h3>
<% @categories.each do |category| %>
<td><%= link_to category.name, categorize_event_path(category) %></td> ||
<% end %>
    
<%= content_for(:head) do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYVUno5aIvhG_MHDc7WtrnA91derLa9WQ&sensor=false">
    </script>
    
    <!--Se serializan los eventos a un JSON para poder pasarlo al 
        javascript. Éste es el tag para poder crear un script de javascript.
        El raw es para escapar caracteres.
        el Window es para poder compartir la variable para todos los javascripts que referencia esta página-->
    <%= javascript_tag do %>
        window.eventosJson = <%=raw @events.to_json %>;
    <% end %>
    <!--se incluye el archivo assets/javascripts/mapitaindex.js-->    
    <%= javascript_include_tag "mapitaindex" %>


<% end %>


<br> </br>
<br> </br>

<table>
  <tr>
    <th>Name</th>
    <th>Startdatetime</th>
    <th>Enddatetime</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.startDateTime %></td>
    <td><%= event.endDateTime %></td>
    <td><%= event.latitude %></td>
    <td><%= event.longitude %></td>
    <td><%= event.description %></td>
    <td><%= event.category.name %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
    <!--Se llama a renderizar el canvas del googlemap-->
    <div id="map_canvas">
    </div>  

<%= link_to 'New Event', new_event_path %>
