<!-- se utiliza el yield colocado en applicacion.html.erb para introducir el siguiente bloque. -->
<%= content_for(:head) do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYVUno5aIvhG_MHDc7WtrnA91derLa9WQ&sensor=false">
    </script>
    
    <!--Se serializan los eventos a un JSON para poder pasarlo al 
        javascript. Éste es el tag para poder crear un script de javascript.
        El raw es para escapar caracteres.
        el Window es para poder compartir la variable para todos los javascripts que referencia esta página-->
    <%= javascript_tag do %>
        window.eventosJson = <%=raw @events.to_json %>;
    <% end %>
    <!--se incluye el archivo assets/javascripts/mapitaindex.js-->    
    <%= javascript_include_tag "mapitaindex" %>


<% end %>

    <div id="welcome">
        <h2 class="title">Listing events</h2>
        <div class="entry">
            <h3>Browse by category:</h3>
            <br />
            <% @categories.each do |category| %>
            <td><%= link_to category.name, categorize_event_path(category) %></td> ||
            <% end %>
            <br />
            <%= link_to 'New Event', {:controller =>'events' ,:action =>'new'}, :class => 'link-style'%>
             <!--<%= link_to 'New Event', new_event_path %>-->
        </div>
    </div>


<div id = "wrapper">
<table>
  <tr>
    <th>Name</th>
    <th>Start time & date</th>
    <th>End time & date</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Description</th>
    <th>Category</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.startDateTime %></td>
    <td><%= event.endDateTime %></td>
    <td><%= event.latitude %></td>
    <td><%= event.longitude %></td>
    <td><%= event.description %></td>
    <td><%= event.category.name %></td>
    <td><%= event.user.name %></td>
    <td><%= link_to 'Show', event %></td>
    <!--Si el user en session es el creador del evento, entonces mostrarle links de editar y borrar-->
    <% if event.user_id == @user_id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>        
  </tr>
<% end %>
</table>
    <!--Se llama a renderizar el canvas del googlemap-->
    <div id="map_canvas2">
    </div>  

</div>
<br />
<br />
<br />




